<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="style.css" />-->
    <title>{% block title %}Products{% endblock %}</title>
</head>

<body>

<div id="navigation">

    <a href="/app/">Home</a>
    <a href="/app/products">Products</a>
    <a href="/app/my_products">My Products</a>
    <a href="/app/address">My Addresses</a>

    {% block  toggle %}
        <a href="/app/signup">Signup</a>
        <a href="/app/login">login</a>
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>