<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>


        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            var expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }
        function login()
        {
            name=$("#username").val();
            password=$("#password").val();
            if ( name && password )
            {
                $.ajax(
                  {
                    type: 'POST',
                    url: 'http://localhost:8000/app/login/',
                    dataType: 'json',
                    data:{"username":name,"password":password},
                    success: function (data, status) {
                        setCookie("token",data.token,1);
                        alert(document.cookie);
                        alert("You have successfully logged in");
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                }

                );
            }
            else
            {
                alert("Please provide complete login details")
            }
        }

    </script>

</head>

<body>

<div id="navigation">

    <a href="products.html">Products</a>
    <a href="user_products.html">My Products</a>
    <a href="address.html">My Addresses</a>
    <a href="signup.html">Signup</a>
    <a href="login.html">Login</a>
    <a href="logout.html">Logout</a>

</div>

<input id="username" type="text" placeholder="username">
<input id="password" type="password" placeholder="Password">
<input type="button" value="Submit" onclick="login()">

</body>
</html>
