<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>

        function load_profile()
        {
            if ($("#user").val())
            {
                 $.ajax({
                  type: 'GET',
                  url: 'http://localhost:8000/app/profile/'+$("#user").val(),
                  dataType: 'json',
                  success: function (data, status) {

                      $("#name").text("Username:"+data.user.username);
                      $("#email").text("Email:"+data.user.email);
                      $("#phone").text("phone:"+data.phone);
                      $("#image").attr("src",data.image)

                  },
                  error: function (error) {
                      alert(error.responseText);
                  }
                });
            }
            else
            {
                alert("Enter the valid id")
            }
        }
    </script>
</head>

<body>

<div id="navigation">

    <a href="products.html">Products</a>
    <a href="user_products.html">My Products</a>
    <a href="address.html">My Addresses</a>
    <a href="signup.html">Signup</a>
     <a href="profile.html">Profile</a>
    <a href="upload_image.html">Upload image</a>
    <a href="login.html">Login</a>
    <a href="logout.html">Logout</a>
</div>
<div >
    <p>Enter Id to view profile</p>
    <input type="number" id="user">
    <input type="button" value="View" onclick="load_profile()">
</div>

<div>

    <p id ="name"></p>
    <p id ="email"></p>
    <p id ="phone"></p>
    <img src="" id="image" width="10%" height="20%">

</div>
</body>
</html>
