<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="global.js"></script>
    <script>
         function load_profile()
            {
                 $.ajax({
                  type: 'GET',
                  headers:{"Authorization": "Token "+ localStorage.getItem('Token')},
                  url: base_path+'app/profile/',
                  dataType: 'json',
                  success: function (data, status) {
                      $("#name").text("Username:"+data.user.username);
                      $("#email").text("Email:"+data.user.email);
                      $("#phone").text("phone:"+data.phone);
                      $("#image").attr("src",data.image);

                  },
                  error: function (error) {
                      alert(error.responseText);
                  }
                });
            }
        $(document).ready(function () {
           load_profile();
        });
    </script>
</head>

<body>

<div id="navigation">

    <a href="products.html">Products</a>
    <a href="user_products.html">My Products</a>
    <a href="address.html">My Addresses</a>
    <a href="signup.html">Signup</a>
     <a href="profile.html">Profile</a>
    <a href="upload_image.html">Upload image</a>
    <a href="login.html">Login</a>
    <a href="" id="logout">Logout</a>
</div>


<div>

    <p id ="name"></p>
    <p id ="email"></p>
    <p id ="phone"></p>
    <img src="" id="image" width="10%" height="20%">

</div>
</body>
</html>
