<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        function signup() {
            if ($("#username").val() && $("#email").val() && $("#password").val() && $("#phone").val())
            {

                var a =
                {
                    phone: $("#phone").val()
                }
                 var b  = {
                        "username": $("#username").val(),
                        "email": $("#email").val(),
                        "password": $("#password").val(),
                        "phone": a
                    }
                console.log('yahhhhhhhhh',b)
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:8000/app/signup/',
                    dataType: 'json',
                    data:b,
                    success: function (data, status) {

                        $("#username").val("");
                        $("#email").val("");
                        $("#password").val("");
                        $("#phone").val("");
                        alert("User created successfully")
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                });


            }
            else {
                alert("Please enter all the fields");
            }
        }

    </script>
     <script src="global.js"></script>
</head>

<body>

<div id="navigation">

    <a href="products.html">Products</a>
    <a href="user_products.html">My Products</a>
    <a href="address.html">My Addresses</a>
    <a href="signup.html">Signup</a>
    <a href="profile.html">Profile</a>
    <a href="upload_image.html">Upload image</a>
    <a href="login.html">Login</a>
    <a href="" id="logout">Logout</a>

</div>

<input id="username" type="text" placeholder="username">
<input id="email" type="email" placeholder="Email">
<input id="password" type="password" placeholder="Password">
<input id="phone" type="text" placeholder="Phone">
<input type="button" value="Submit" onclick="signup()">

</body>
</html>
