<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="global.js"></script>
    <script src="upload_image.js"></script>

</head>

<body>

<div id="navigation">

    <a href="products.html">Products</a>
    <a href="user_products.html">My Products</a>
    <a href="address.html">My Addresses</a>
    <a href="signup.html">Signup</a>
    <a href="profile.html">Profile</a>
    <a href="upload_image.html">Upload image</a>
    <a href="login.html">Login</a>
    <a href="" id="logout">Logout</a>
</div>


<div>

<form id="image_form" method="post" action="http://localhost:8000/app/upload_image/" enctype="multipart/form-data" >

    <br>
    <br>
    <input type="file" id="image" name="image">
    <input type="submit" value="Submit" id = 'upload_image'>
</form>

</div>
</body>
</html>
