<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="global.js"></script>
    <script src="user_products.js"></script>

</head>

<body>

<div id="navigation">

    <a href="products.html">Products</a>
    <a href="user_products.html">My Products</a>
    <a href="address.html">My Addresses</a>
    <a href="signup.html">Signup</a>
    <a href="profile.html">Profile</a>
    <a href="upload_image.html">Upload image</a>
    <a href="login.html">Login</a>
    <a href="" id="logout">Logout</a>



</div>

<table id="main" border="1">
    <tr>
        <th>Name</th>
        <th>Detail</th>
        <th>Price</th>
    </tr>


</table>


</body>
</html>
